
<html>

	<head>
		<link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.0/normalize.css" type="text/css">
		<link rel="stylesheet" href="./build/main.css" charset="utf-8">
		<link rel="stylesheet" href="./build/home.css" charset="utf-8">
		<link rel="stylesheet" href="./build/topmenu.css" charset="utf-8">
	</head>


	<body>
		<div id="doc">
			<div id="page-outer">
				<div class="wrapper" id="topbox">
					
					<div class="rfloat">
						<ul class="pg-nav">
							<li>mithun satheesh</li>
							<li>logout</li>
							<li><img src="https://pbs.twimg.com/profile_images/417199164007538688/VD2g3OMz_bigger.jpeg" height="25" width="25"></li>
							
						</ul>
					</div>
					
				</div>
				
				
				<div class="wrapper" id="tweetbox">
					
					<div class="tweetBox">
						<div class="chat-box bg-white">
							<div class="input-group">
								
								<textarea class="compose-text" placeholder="What's happening?"></textarea>
								
								<div>
									<button type="button" class="btn">Tweet</button>
								</div>
																
							</div>
						</div>
					</div>
					
				</div>
				
				
				<div class="wrapper">
					
					<a class="tweetCloudIcon" title="Make a Tweet">&nbsp;</a>
					
					<div class="content-main" id="timeline">
						
						
						
						<div class="topbar">
							<div class="global-nav">
								<div class="global-nav-inner">
									<div class="container">
										<div role="navigation">
											<ul class="nav" id="global-actions">
												<li id="global-nav-home" class="home active">
													<a href="#">
														<span class="Icon Icon--home Icon--large"></span>
														<span class="text">Top Stories</span>
													</a>
												</li>
												<li class="topics">
													<a href="#">
													<span class="Icon Icon--discover Icon--large"></span> <span class="text">Chatter</span>
													</a>
												</li>												
												<li class="profile">
													<a href="#">
														<span class="Icon Icon--me Icon--large"></span> <span class="text">Me</span>
													</a>
												</li>
												<li class="people">
													<a href="#">
														<span class="Icon Icon--connect Icon--large"></span> <span class="text">Messages</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						
						
						
						<!--
						<div class="content-header">
							<div class="header-inner">
							  <h2 id="content-main-heading" class="js-timeline-title">Tweets</h2>
							</div>
						</div>
						-->
						
						<div class="stream-container">
							<div class="stream home-stream">
								
								<ol class="stream-items">
									
									

									
									<li class="stream-item">										
										<div class="tweet">										
											<div class="content">																								
												<div>																				
													<a class="fade" href="/openshift">
														<img class="avatar" src="https://pbs.twimg.com/profile_images/378800000771529671/854d85d0c77271af224b455f81b5fc88_bigger.png" alt="">
														<strong class="fullname">OpenShift by Red Hat</strong>
														&nbsp;
														<span class="username">
															@openshift
														</span>
													</a>												
													<small class="time">
														<a>
															<span class="fade">44m</span>
														</a>
													</small>																									
												</div>												
												<p class="tweet-text">Learn why PaaS should be included in your OpenStack strategy. Register now for the webinar on February 25.<a href="http://t.co/89Xunjow07" rel="nofollow" dir="ltr" data-expanded-url="http://bit.ly/1fczN7u" class="twitter-timeline-link" target="_blank" title="http://bit.ly/1fczN7u"><span class="js-display-url">bit.ly/1fczN7u</span></a></p>
											</div>
											
											<div>
											
											<ul class="tweet-actions" style="display: inline-block">
												<li>
													<a>
														<span class="Icon Icon--reply"></span>
														Reply
													</a>													
												</li>
												<li>
													<a>
														<span class="Icon Icon--retweet"></span>
														Retweet
													</a>													
												</li>
												<li>
													<a>
														<span class="Icon Icon--favorite"></span>
														Favourite
													</a>													
												</li>																							
											</div>
																				
										</div>										
									</li>
									

									
									
																  
								</ol>


								
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script src="./js/jquery-1.10.2.min.js"></script>
		<script src="./js/unherd.js"></script>
	</body>

</html>
